<div class="container-fluid">
    <mat-divider></mat-divider>
    <div class="hstack justify-content-around mt-5 col-md-8 mx-auto">
       <a href="" class="text-decoration-none">
        <span class="text-dark" style="font-size: 16px;">Help</span>
       </a> 
       <a href="" class="text-decoration-none">
        <span class="text-dark" style="font-size: 16px;">Blog</span>
       </a> 
       <a href="" class="text-decoration-none">
        <span class="text-dark" style="font-size: 16px;">Services</span>
       </a> 
       <a href="" class="text-decoration-none">
        <span class="text-dark" style="font-size: 16px;">Contact Us</span>
       </a> 
       <a href="" class="text-decoration-none">
        <span class="text-dark" style="font-size: 16px;">About</span>
       </a> 
    </div>
</div>