<div class="container-fluid" style="background-color: grey; color: white;">
    <div class="vstack gap-3 py-3">
        <div class="col-md-6 col-12 mx-auto text-center">
            <h2>FRijaza Blogs</h2>
            <p style="font-size: 11px; font-weight: lighter;">FRijaza Blogs is a blog website where you explore diverse
                perspectives, political environs, nature and its
                natures, science with proven concepts, history unfolding daily and human race evolving.</p>

            <div class="w-100 d-flex justify-content-center align-items-center">

                <div class="hstack gap-2 justify-center my-2">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100085304978384">

                        <button style="background-color: rgb(5, 181, 240) ;" mat-mini-fab>
                            <i class="bi bi-facebook"></i>
                        </button>
                    </a>

                    <a target="_blank"
                        href=" https://wa.me/254743125620?text=I'm%20interested%20in%20your%20digital%20marketing">
                        <button style="background-color: rgb(16, 131, 56) ;" mat-mini-fab>
                            <i class="bi bi-whatsapp"></i>
                        </button>
                    </a>
                    <a target="_blank" href="">
                        <button style="background-color: blue;" mat-mini-fab>
                            <i class="bi bi-twitter"></i>
                        </button>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/i.m__digitalmarketing/">
                        <button style="background-color: rgb(157, 134, 20);" mat-mini-fab>
                            <i class="bi bi-instagram"></i>
                        </button>
                    </a>
                    <a target="_blank" href="">
                        <button mat-mini-fab style="background-color: white;">
                            <i class="bi bi-tiktok"></i>
                        </button>
                    </a>

                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 m-0">
            <div class="col text-center">
                <p>copyright &copy;2023 <a href="/">FRijaza Blogs</a> </p>
            </div>
            <div class="col">
                <div class="col-md-10 mx-auto fw-lighter">
                    <div class="row row-cols-2 row-cols-md-6 m-0">
                        <a href="" class="text-decoration-none col">
                            <span class="text-white" style="font-size: 16px;">Help</span>
                        </a>
                        <a href="" class="text-decoration-none col">
                            <span class="text-white" style="font-size: 16px;">Blog</span>
                        </a>
                        <a href="" class="text-decoration-none col">
                            <span class="text-white" style="font-size: 16px;">Services</span>
                        </a>
                        <a href="" class="text-decoration-none col">
                            <span class="text-white" style="font-size: 16px;">About</span>
                        </a>
                        <a href="" class="text-decoration-none col">
                            <span class="text-white text-nowrap" style="font-size: 16px;">Contact Us</span>
                        </a>
                        <a href="privacy" class="text-decoration-none col">
                            <span class="text-white text-nowrap" style="font-size: 16px;">Privacy Policy</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>