<div class="container-fluid my-3">
    <div class="col-md-10 mx-auto">
        <div class="row row-cols-1 row-cols-md-4 m-0 g-3">
            <div class="col">
                <div class="card h-100 p-2" style="border-radius: 20px; background-color: #D7BBF5;">
                    <div class="card-body">
                        <div class="card-title hstack justify-content-between">
                            <span class="material-symbols-outlined">
                                monetization_on
                            </span>
                            <span style="font-size: 10px; font-weight: lighter;">Premium Plan</span>
                        </div>
                        <div class="vstack gap-2">
                            <span class="h2">Email Marketing</span>
                            <span style="font-size: 10px; font-weight: lighter;">
                                Powerful Email Marketing for Your Business: Maximize ROI, Streamlined Billing, and
                                Growth-driven Success
                            </span>
                            <div class="d-flex flex-row gap-2">
                                <span class="display-6 fw-bold">
                                    $30
                                </span>
                                <span class="fw-lighter mt-auto"
                                    style="font-size: 10px; height: fit-content;">/month</span>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="vstack ms-2 justify-content-between">
                                <span style="font-size: 9px; font-weight: lighter;">Email Campaign Analysis</span>
                                <span style="font-size: 9px; font-weight: lighter;">Email Design and Templates</span>
                                <span style="font-size: 9px; font-weight: lighter;">Email Automation</span>
                                <span style="font-size: 9px; font-weight: lighter;">Audience Segmentation</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card  h-100 p-2" style="border-radius: 20px; background-color: #FBEEAC;">
                    <div class="card-body">
                        <div class="card-title hstack justify-content-between">
                            <span class="material-symbols-outlined">
                                diamond
                            </span>
                            <span style="font-size: 10px; font-weight: lighter;">Premium Plan</span>
                        </div>
                        <div class="vstack gap-2">
                            <span class="h2">Gold Plan</span>
                            <span style="font-size: 10px; font-weight: lighter;">
                                All in one package (For personal, creative and business profiles)
                            </span>
                            <div class="d-flex flex-row gap-2">
                                <span class="display-6 fw-bold">
                                    $150
                                </span>
                                <span class="fw-lighter mt-auto"
                                    style="font-size: 10px; height: fit-content;">/month</span>
                            </div>
                            <mat-divider></mat-divider>
                            <div>
                                <div>
                                    <div class="vstack gap-2">
                                        <span style="font-size: 16x; font-weight: bold;">Social media marketing</span>
                                        <div class="vstack ms-2 justify-content-between">
                                            <span style="font-size: 10px; font-weight: lighter;">Facebook : $50/m</span>
                                            <span style="font-size: 10px; font-weight: lighter;">Instagram :
                                                $50/m</span>
                                            <span style="font-size: 10px; font-weight: lighter;">Linkedin : $50/m</span>
                                            <span style="font-size: 10px; font-weight: lighter;">Twitter : $50/m</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 p-2" style="border-radius: 20px; background-color: #9BE8D8;">
                    <div class="card-body">
                        <div class="card-title hstack justify-content-between">
                            <span class="material-symbols-outlined">
                                new_releases
                                </span>
                            <span style="font-size: 10px; font-weight: lighter;">Premium Plan</span>
                        </div>
                        <div class="vstack gap-2">
                            <span class="h2">Content Marketing</span>
                            <span style="font-size: 10px; font-weight: lighter;">Ignite Your Brand with Compelling Content
                            </span>
                            <div class="d-flex flex-row gap-2">
                                <span class="display-6 fw-bold">
                                    $30
                                </span>
                                <span class="fw-lighter mt-auto"
                                    style="font-size: 10px; height: fit-content;">/month</span>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="vstack ms-2 justify-content-between">
                                <span style="font-size: 9px; font-weight: lighter;">Analytics and Measurement</span>
                                <span style="font-size: 9px; font-weight: lighter;">Content Strategy and
                                    Promotion</span>
                                <span style="font-size: 9px; font-weight: lighter;">Lead Generation</span>
                                <span style="font-size: 9px; font-weight: lighter;">Content Distribution</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 p-2" style="border-radius: 20px; background-color: #FFD0D0;">
                    <div class="card-body">
                        <div class="card-title hstack justify-content-between">
                            <span class="material-symbols-outlined">
                                stars
                                </span>
                            <span style="font-size: 10px; font-weight: lighter;">Premium Plan</span>
                        </div>
                        <div class="vstack gap-2">
                            <span class="h2">Custom</span>
                            <span style="font-size: 10px; font-weight: lighter;">
                                Empowering Your Online Presence
                            </span>
                            <div class="d-flex flex-row gap-2">
                                <span class="display-6 fw-bold">
                                    $custom
                                </span>
                                <span class="fw-lighter mt-auto"
                                    style="font-size: 10px; height: fit-content;">/task</span>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="vstack ms-2 justify-content-between">
                                <span style="font-size: 9px; font-weight: lighter;">Web Development</span>
                                <span style="font-size: 9px; font-weight: lighter;">Logo Creation</span>
                                <span style="font-size: 9px; font-weight: lighter;">Web Design</span>
                                <span style="font-size: 9px; font-weight: lighter;">Strategy and Planning</span>
                                <span style="font-size: 9px; font-weight: lighter;">User Experience Optimization</span>
                                <span style="font-size: 9px; font-weight: lighter;">Brand Consistency</span>
                                <span style="font-size: 9px; font-weight: lighter;">SEO Integration</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>