<div class="container-fluid">
    <div class="row m-0 mt-5" *ngIf="author">
        <div class="col-md-8 mx-auto">
            <div class="vstack gap-3 my-3">
                <span class="h3">Author's Details</span>
                <div class="vstack gap-2">
                    <div class="row m-0">
                        <div class="col-md-6">

                            <div class="w-100 mx-auto hstack justify-content-center align-items-center">
                                <img class="ratio ratio-4x3 rounded-circle "
                                    style="object-fit: fill;max-height: 120px; max-width: 100px"
                                    src="{{this.base.base_uri_api+ 'photos/'+ author.photo.id+ '/serve'}}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="vstack gap-2 justify-content-center align-items-center">
                                <div class="hstack gap-2 text-center">
                                    <span>Name:</span>
                                    <span class="fw-bold">{{author.fname}}</span>
                                </div>
                                <div class="hstack gap-2 text-center" *ngIf="author.user">
                                    <span>Email:</span>
                                    <span class="fw-bold">{{author.user.email}}</span>
                                </div>
                                <div class="hstack gap-2 text-center" *ngIf="!author.user">
                                    <span>Email:</span>
                                    <span class="fw-bold">NA</span>
                                </div>
                                <div class="hstack gap-2 text-center">
                                    <span>Posts:</span>
                                    <span class="fw-bold">{{author.posts.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="vstack my-3" *ngIf="author.posts">
                <span class="h3">Posts</span>
                <div class="col-md-10 mx-auto">
                    <div class="row row-cols-1 row-cols-md-3 m-0">
                        <div class="col" *ngFor="let post of author.posts">
                            <div class="card">
                                <a href="{{'/posts/'+post.id}}" *ngIf="post.photo">
                                    <img style="max-height: 180px;min-height: 180px;object-fit: cover;"
                                        src="{{this.base.base_uri_api+ 'photos/'+ post.photo.id+ '/serve'}}"
                                        class="card-img-top" [alt]="post.title"> </a>
                                <div class="card-body">
                                    <span class="card-title">{{post.title}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="vstack gap-3" *ngIf="author.posts">
                <span class="h3 text-center">Recent Posts</span>
                <div class="col-md-8 mx-auto vstack gap-3">
                    <div class="card" *ngFor="let post of author.posts">
                        <div class="card-body">
                            <a href="{{'/posts/'+post.id}}" class="card-title">{{post.title}}</a>
                            <div class="hstack justify-content-between mt-2" style="font-size: 10px;">
                                <div class="hstack gap-2">
                                    <span class="material-symbols-outlined">
                                        schedule
                                    </span>
                                    <span>{{post.read_time}}</span>
                                </div>
                                <div class="hstack gap-2">
                                    <span></span>
                                    <span>{{post.created_at|date :'mediumDate'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>