<mat-toolbar class="sticky-top justify-content-between px-4" color="primary">
    <img src="../../../../assets//logo.png" style="max-height: 55%;" alt="">
    <button routerLink="/" mat-raised-button>FreesoulIjaza</button>
</mat-toolbar>
<div class="container-fluid mb-3">
    <div class="row row-cols-1 row-cols-md-2 gy-sm-4">
        <div class="col">
            <div class="col-md-10 my-5 mx-auto h-100 ">
                <div class="vstack justify-content-center align-items-center h-100">
                    <div>
                        <div class="display-1 mb-3 fw-bolder">
                            <span style="color: rgb(105, 105, 169);">COMING </span><span
                                style="color: rgb(140, 140, 67);">SOON</span>
                        </div>
                        <div class="fs-3 mb-3"> We are currently working on this page! </div>
                        <button mat-raised-button color="primary" class="py-4 px-4" (click)="emailDialog()"
                            style="width: fit-content;">Notify Me</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <img style="object-position: center; object-fit: cover;max-width: 500px" class=" ratio ratio-21x9"
                    src="../../../../assets/landing/csbg.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <div class=" my-4 vstack gap-3">
            <mat-divider class="my-4"></mat-divider>

            <span class="fs-1 ">Plans
            </span>
            <app-charges class="mb-3"></app-charges>
        </div>
    </div>
</div>
<app-footer></app-footer>