<mat-toolbar style="background-color: whitesmoke;padding-top: 20px; padding-bottom: 20px;" class=""
    *ngIf="!(isHandset$|async)">
    <div class="hstack justify-content-between w-100 fw-bold">
        <div class="hstack gap-5">
            <a routerLink="/">
                <img src="../../../../assets/logo/fd.svg">
            </a>
        </div>
        <div class="hstack justify-content-around w-100 " *ngIf="topics?.data">
            <a routerLink="/" class="nav-link">Home</a>
            <button mat-button [matMenuTriggerFor]="blogMenu" class="nav-link">
                <mat-icon>arrow_drop_down</mat-icon>
                Blog
            </button>
            <mat-menu #blogMenu="matMenu" class="px-5">
                <button routerLink="{{'topics/'}}" mat-menu-item>All</button>
                <button routerLink="{{'authors/'}}" mat-menu-item>Authors</button>
                <span class="fw-bold">Categories</span>
                <mat-divider></mat-divider>
                <button routerLink="{{'topics/'+ topic.id}}" *ngFor="let topic of topics?.data" mat-menu-item>
                    {{topic.name}}
                    </button>
            </mat-menu>
            <a routerLink="im_digitals" routerLinkActive="active" class="nav-link">I.M Digitals</a>
            <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
            <div class="search-field-container">
                <mat-icon class="search-icon">search</mat-icon>
                <input matInput [(ngModel)]="searchQuery" placeholder="Search ..." (keydown.enter)="search()">
                <button mat-stroked-button class="clear-button" *ngIf="searchQuery" (click)="searchQuery=''">
                    <mat-icon class="clear-icon">close</mat-icon>
                </button>
            </div>
            <button mat-raised-button routerLink="/" class="nav-link">Contact Us</button>
        </div>
    </div>
</mat-toolbar>
<ng-template [ngIf]="isHandset$ | async">
    <mat-toolbar class="">
        <mat-toolbar-row>
            <div class="hstack justify-content-between w-100">
                <button (click)="drawer.open()" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
                <a routerLink="/">
                    <img src="../../../../assets/logo/fd.svg">
                </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="(isHandset$ | async) === false">
            <mat-toolbar style="background-color: whitesmoke;" class="sticky-toolbar">
                <a routerLink="/">
                    <img src="../../../../assets/logo/fd.svg">
                </a>
                <button class="ms-auto" (click)="drawer.close()" mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <mat-nav-list class="container-fluid">
                <a mat-list-item routerLink="/" (click)="drawer.close()">

                    <div class="hstack gap-3 align-items-center">
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/topics" (click)="drawer.close()">
                    <div class="hstack gap-3 align-items-center">
                        <span class="material-symbols-outlined">
                            auto_stories
                        </span>
                        <span>Blog</span>
                    </div>
                </a>

                <!-- <a mat-list-item routerLink="authors" (click)="drawer.close()">
                    <div class="hstack gap-3 align-items-center">
                        <mat-icon>persons</mat-icon>
                        Authors
                    </div>
                </a> -->
                <a mat-list-item routerLink="/" (click)="drawer.close()">
                    <div class="hstack gap-3 align-items-center">
                        <mat-icon>info</mat-icon>
                        About Us
                    </div>
                </a>
                <a mat-list-item routerLink="im_digitals" (click)="drawer.close()">
                    <div class="hstack gap-3 align-items-center">
                        I.M Digitals
                        <mat-icon>open_in_new</mat-icon>
                    </div>
                </a>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</ng-template>