.category {
  position: sticky;
  top: 64px;
}

.search-field-container {
  display: flex;
  align-items: center;
  background-color: #eaecf1;
  border-radius: 25px;
  padding: 6px;
}

.search-icon {
  color: #a8abb1;
  font-size: 20px;
  margin-right: 8px;
}

.search-field-container input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
}

a.latest-header {
  text-decoration: none;
}

a.latest-header:hover {
  text-decoration: underline;
}

.mobile-card {
  background-size: cover;
  background-position: center;
}